/* Dark mode Variables */
$bgColor: #171717;
$pWhiteColor: #d9d9d9;
$aPastelColor: #b4d6fd;
$codeBgColor: #212121;

html {
    background: $bgColor;
    animation: fadein 2s;
}


.markdown-body {

    h1, h2, h3, h4 {
        color: white;
    }

    p, ol, ul, li, span, footer {
        color: $pWhiteColor;
    }

    a {
        color: $aPastelColor;
        text-decoration: none;
    }

    strong {
        color: white;
        font-weight: bold;
    }

    code, pre {
        color: white;
        background: $codeBgColor;
    }

    pre {
        white-space: pre-wrap;
    }
}

/* Fade-in Animation when on-load */
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

/* Styling for the scrollbar on the right */
::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

::-webkit-scrollbar-track {
    background: #232323;
}

::-webkit-scrollbar-thumb {
    background: #303030;
}